<h3> Welcome to Base Ng2 project </h3>

<h5 *ngIf="authenticated==true">You are logged in view your profile</h5>

<div *ngIf="authenticated==false">
	<h5 >Signup</h5>
	<form>
	    <div class="form-group">
	        <input class="form-control" type="email" placeholder="Email..." [(ngModel)]="email" name="email">
	        <input class="form-control" type="password" placeholder="Password..." [(ngModel)]="password" name="password">
	        <button class="btn" (click)="signup()">Signup</button>
	    </div>
		</form>
</div>
