<h3>User Profile</h3>
<h5>Name: {{profile.name}}</h5>
<div class="row">

    <div class="col-md-10">
        <ul class="list-group">
            <li class="list-group-item"><strong>Email:</strong>{{profile.email}}</li>
            <li class="list-group-item"><strong>Profile Last Updated:</strong>{{profile.updated_at}}</li>
        </ul>
    </div>
</div>